[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
colored = "*"
# "68c0051" = {path = "/home/aishik/ProgramFiles/YOLO3-4-Py"}

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
